* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
}

body {
    background-color: aquamarine;
    color: black;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.content {
    display: flex;
    width: 90%;
    flex-direction: column;
    justify-content: space-around;
}

textarea {
    resize: none;
    border: none;
    padding: 8px;
    background-color:darkorchid;
    color: black;
    outline: none;
    font-size: 24px;
    text-align: justify;
}

textarea:focus {
    border: 1px solid red;
}

.carrossel {
    box-shadow: 2px 2px 4px black;
    overflow: hidden;
    width: 200px;
    height: 200px;
}

.container{
    display: flex;
    transition: transform 0.5s ease-in-out;
    transform:  translateX(50%);
}

img{
    object-fit: cover;
    width: 200px;
    height: 200px;
}



